@font-face {
    font-family: 'hoverFont';
    src: url('../assets/fonts/lemon-drop.otf');
    font-style: normal;
}

@font-face {
    font-family: 'defaultFont';
    src: url('../assets/fonts/chrusty-rock.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'paraFont';
    src: url('../assets/fonts/poppins.otf');
    font-style: normal;
}