#homepage {
    width: min(1200px, 100%);
    margin: auto;
    text-align: center;
    color: rgba(212, 165, 54, 1);
    font-family: "hoverFont";
}

#restaurant-name {
    margin: 0;
    font-size: 3.3em;
    letter-spacing: 12px;
}

#welcome-msg {
    width: 80%;
    margin: 0 auto 40px auto;
    font-family: "paraFont";
    text-align: left;
    color: rgba(233, 233, 240, 0.904);
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    letter-spacing: 3px;
    font-weight: bolder;
}

#hours-table {
    width: 85%;
    margin: 10px auto 20px auto;
    font-size: 20px;
    font-family: "defaultFont";
    border-radius: 10px;
}

#hours-table td, #hours-table th {
    padding: 2vmax;
}
