#menu-container {
    margin: auto;
    font-family: "paraFont";
    width: min(900px, 95%);
}

.card {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    gap: 1vmax;
}

.card #course-div {
    padding: 20px 0 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    align-self: center;
}

.card #course-div h2 {
    margin-top: 0;
    border-radius: 20px;
    background-color: red;
}

.card #course-div, .card table {
    flex: 1;
    width: 0;
}

.card table {
    font-size: 1.2em;
    color: white;
}

.card img {
    width: 100%;
    display: block;
    height: 100%;
}

.card table td {
    padding: 1vmin;
    border-right: 1px solid rgba(255, 99, 71, 0.856);
}

.card table tr {
    border-bottom: 1px solid rgba(255, 99, 71, 0.856);
    border-right: 1px solid rgba(255, 99, 71, 0.856);
}

.card table tr:last-child {
    border: none;
}