ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    padding: 10px 0px;
}

button {
    background-color: transparent;
    border: none;
    color: tomato;
    font-family: 'defaultFont';
    font-size: 32px;
    cursor: pointer;
}

button:focus {
    color: lime;
    border-radius: 10px;
    font-family: 'hoverFont';
    font-size: 42px;
}

header {
    margin: auto;
    width: min(100vw, 700px);
    height: 10vh;
}